{% extends 'content.html'%}

{% block 'content-title'%}
Detalhes do Cliente
{% endblock%}

{% block 'content'%}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{object}}</h3>
          <br>
          <fieldset>
            <section>
              {{object.observacoes | safe}}
            </section>
          </fieldset>
          <div class="card-tools">
            <div class="btn-group">
              <a href="{% url 'cliente-list' %}" class="btn btn-info">Listagem</a>
              <a href="{% url 'cliente-update' object.pk %}" class="btn btn-success">Editar</a>
              <a href="{% url 'cliente-delete' object.pk %}" class="btn btn-danger">Excluir</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 pb-2">
              <h4 class="card-title">Projetos do associados</h4>
            </div>
            <div class="col-lg-12">
              <ul class="list-group">
                {% for projeto in object.projetos.all %}
                <li class="list-group-item">
                  <a href="{% url 'tarefa-projeto-list' projeto.pk %}" class="link">
                    {{projeto.nome}}
                  </a>
                </li>
                {% empty %}
                <li class="list-group-item">Nenhum Projeto Associado</li>
                {% endfor %}
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}