{% extends 'content.html'%}

{% block 'content-title'%}
Pagina Inicial
{% endblock%}

{% block 'content'%}
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h5 class="m-0">Bem vindo!</h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Chronos é um sistema de controle de projetos voltado para arquitetos, 
                  desenvolvido com peculiaridades especificas para escritorios pequenos e medios que precisam se organizar de forma pratica e rapida
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}