{% extends 'content.html'%}
{% load crispy_forms_tags %}

{% block 'content-title'%}
Trocar Senha
{% endblock%}

{% block 'content'%}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <form method="post">
                    {% csrf_token %}
                    <div class="card-header">
                        <h3 class="card-title">Formulario de Troca de senha</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        {{form|crispy}}
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">Salvar</a>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
{% endblock %}