<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
            <a href="{% url 'cliente-list' %}" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>
                    Clientes
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'projeto-list' %}" class="nav-link">
                <i class="nav-icon fas fa-folder-open"></i>
                <p>
                    Projetos
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'tarefa-kanban' %}" class="nav-link">
                <i class="nav-icon fas fa-columns"></i>
                <p>
                    Quadro de Tarefas
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'tarefa-calendar' %}" class="nav-link">
                <i class="nav-icon fas fa-calendar"></i>
                <p>
                    Calendario de Tarefas
                </p>
            </a>
        </li>

        <li class="nav-item border-top">
            <a href="{% url 'nova-reuniao' %}" class="nav-link">
                <i class="nav-icon fas fa-calendar-plus"></i>
                <p>
                    Nova Reunião
                </p>
            </a>
        </li>

        <!-- PRODUTIVIDADE -->
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-chart-line"></i>
                <p>
                    Produtividade
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>

            <ul class="nav nav-treeview">

                <li class="nav-item">
                    <a href="{% url 'produtividade-dashboard' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'produtividade-por-usuario' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Por Usuário</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'produtividade-diaria' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Produtividade Diária</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'produtividade-ranking' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Ranking</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'produtividade-por-tarefa' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Por Tarefa</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'produtividade-tempos-abertos' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Tempos em Aberto</p>
                    </a>
                </li>

            </ul>
        </li>

    </ul>
</nav>