<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="{% url 'cliente-list' %}" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>
                    Clientes
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'projeto-list' %}" class="nav-link">
                <i class="nav-icon fas fa-folder-open"></i>
                <p>
                    Projetos
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'tarefa-kanban' %}" class="nav-link">
                <i class="nav-icon fas fa-columns"></i>
                <p>
                    Quadro de Tarefas
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'tarefa-calendar' %}" class="nav-link">
                <i class="nav-icon fas fa-calendar"></i>
                <p>
                    Calendario de Tarefas
                </p>
            </a>
        </li>
    </ul>
</nav>