{% extends 'content.html'%}

{% block 'content-title'%}
Tarefas do Projeto: {{projeto.nome}} 
{% endblock%}

{% block 'content'%}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <label for="">Projeto:</label> {{projeto.nome}}
                    <br>
                    <label for="">Cliente:</label> <a href="{{projeto.cliente.get_absolute_url}}">{{projeto.cliente}}</a>
                    {% if 'projetos.can_view_payment_info' in perms %}
                        <br>
                        <label for="">Media Valor Hora:</label> R$ {{media_hora | floatformat:2}}
                        <br>
                        <label for="">Valor Total:</label> R$ {{projeto.valor | floatformat:2}}
                    {% endif %}
                    <br>
                    <label for="">Total de Horas:</label> {{total_horas | floatformat:2}}
                    <br>
                    <label for="">Senha publica:</label> {{projeto.senha_acesso|default:"-"}}
                    <br>
                    <a href="{% url 'projeto-detail' projeto.pk %}" target="_blank" class="btn btn-outline-primary btn-sm">
                        <i class="fas fa-file"></i> Referências
                    </a>
                    <a href="{% url 'projeto-update' projeto.pk %}" target="_blank" class="btn btn-outline-warning btn-sm">
                        <i class="fas fa-pen"></i> Editar Projeto
                    </a>
                    <a href="{% url 'projetos-reuniao' projeto.pk%}" class="btn btn-outline-info btn-sm">
                        <i class="far fa-calendar"></i>
                        Ver reuniões
                    </a>
                    <a href="{% url 'projeto-publico' projeto.token_publico %}" target="_blank" class="btn btn-outline-secondary btn-sm">
                        <i class="fas fa-link"></i> Link publico
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"></h3>
                    <div class="card-tools">
                        <a href="{% url 'tarefa-add' %}?projeto_id={{projeto.pk}}" class="btn btn-info">Adicionar Tarefa</a>
                        <a href="{% url 'nova-reuniao' %}?projeto_id={{projeto.pk}}" class="btn btn btn-success">Adicionar Reunião</a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Tarefa</th>
                                <th>Entrega</th>
                                <th class="text-right">Tempo Decorrido</th>
                                <th>Status</th>
                                <th>Usuario</th>
                                <th class="text-right">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in tarefas %}
                            <tr>
                                <td>
                                    <a href="{% url 'tarefa-detail' object.pk %}" class="link">
                                        {{ object }}
                                    </a>
                                </td>
                                <td>{{ object.data_entrega|date:"d/m/Y"}}</td>
                                <td class="text-right">{{ object.tempo_decorrido }}</td>
                                <td>
                                    {% for key, val in enum_status %}
                                        {% if object.status == key %}
                                            <span>{{ val }}</span>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{object.user}}</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        {% if object.tempos.last.inicio %}
                                            {% if not object.tempos.last.fim %}
                                                <a href="{% url 'tarefa-pause' object.pk %}" class="btn btn-warning">
                                                    <i class="fas fa-pause"></i>
                                                </a>
                                            {% else %}
                                                <a href="{% url 'tarefa-start' object.pk %}" class="btn btn-primary">
                                                    <i class="fas fa-play"></i>
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{% url 'tarefa-start' object.pk %}" class="btn btn-primary">
                                                <i class="fas fa-play"></i>
                                            </a>
                                        {% endif %}

                                        <a href="{% url 'tarefa-update' object.pk %}?projeto_id={{projeto.pk}}" class="btn btn-success">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="{% url 'tarefa-copiar' object.pk %}" class="btn btn-dark">
                                            <i class="fas fa-copy"></i>
                                        </a>
                                        <a href="{% url 'tarefa-delete' object.pk %}?projeto_id={{projeto.pk}}" class="btn btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
{% endblock %}