{% extends 'content.html'%}

{% block 'content-title'%}
<div class="row">
    <div class="col-12">
        Produtividade por Tarefa
    </div>
</div>
{% endblock%}


{% block 'content'%}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Tempo por Tarefa</h3>
    </div>

    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Projeto</th>
                    <th>Tarefa</th>
                    <th>Total de Horas</th>
                </tr>
            </thead>
            <tbody>
                {% for item in dados %}
                <tr>
                    <td>{{ item.tarefa__projeto__cliente__nome }}</td>
                    <td>{{ item.tarefa__projeto__nome }}</td>
                    <td>{{ item.tarefa__titulo }}</td>
                    <td>{{ item.total }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">Nenhum dado encontrado</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}